<html>
<head>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-radar.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="chart.css">
    <style type="text/css">

        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>

<div id="container"></div>
<div id="chartContainer" style="height: 300px; width: 100%;">

<script>
    anychart.onDocumentReady(function () {
        // create data set on our data
        var dataSet = anychart.data.set([
            ['Fulfillment (E)', "{{ .E }}"],
            ['Perception (O)', "{{ .O }}"],
            ['Freedom (N)', "{{ .N }}"],
            ['Collab (A)', "{{ .A }}"],
            ['Hustle (C)', "{{ .C }}"]
        ]);

        // map data for the first series, take x from the zero column and value from the first column of data set
        var data1 = dataSet.mapAs({ x: 0, value: 1 });
        // create radar chart
        var chart = anychart.radar();

        // set chart title text settings
        chart.title(
            'Results for {{ .Name}}'
        );

        chart.yScale().minimum(0)
        chart.yScale().maximum(100)
        chart.yScale().ticks().interval(5);

        // set xAxis labels settings
        chart.xAxis().labels().padding(10);

        // set chart legend settings
        chart.legend().align('center').enabled(true);

        // create first series with mapped data
        var series1 = chart.line(data1).name('Results');
        series1.markers().enabled(true).type('circle').size(5);

        // chart tooltip format
        chart.tooltip().format('Value: {%Value}');

        // set container id for the chart
        chart.container('container');
        chart.draw();
    });
</script>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
            {
                title:{
                    text: "Olympic Medals of all Times (till 2012 Olympics)"
                },
                data: [
                    {
                        type: "bar",
                        dataPoints: [
                            { y: 198, label: "Italy"},
                            { y: 201, label: "China"},
                            { y: 202, label: "France"},
                            { y: 236, label: "Great Britain"},
                            { y: 395, label: "Soviet Union"},
                            { y: 957, label: "USA"}
                        ]
                    },
                ]
            });

        chart.render();
    }
</script>



<b> DEBUG ONLY</b>

    <b>Freedom</b> shows the extent to which you're free of anxiety [E], sadness [E], self-consciousness [E], overwhelm [E], anger [E], and giving in to temptations [E]. If you scored low on freedom you're getting in your own way; you're holding yourself back from the success you desire. Here at Lionheart we're going to help you stop creating obstacles for yourself. <br>
    <b>Fulfillment</b> displays how friendly [E], cheerful [E], active [E], assertive [E], and excitement-seeking [E] you are. You don't need to be an adrenaline junky to have a good life, but low levels in any of these traits and you're missing out on what life has to offer! <br>
    <b>Perception</b> highlights your adventurousness &#129526, imagination &#129412, intellectual thinking &#129299, artistic interest &#127912, how much emotion you feel &#128552, and how progressive your political views are &#129506. In order to create great stuff you need to be open to new experiences. <br>
    <b>Collaboration</b> indicates how altruistic [E], cooperative [E], modest [E], moral [E], sympathetic [E], and trusting [E] you are. It's important to have these traits, but just don't take it too far--You matter too! On the other hand, if you're always bragging, only think about yourself, or eternally dead-set on getting your way, people aren't going to help you out. <br>
    <b>Hustle</b> is no joke. It's the single biggest indicator of potential success—without it you'll never amount to anything. Do you do what you say you'll do? [E], are you focused?--or easily distracted [E], do you keep organized? [E], do you plan before doing? [E], are you effective? [E], do you even want to work hard and get ahead? [E] – if not, we're here to get you building the life of your dreams. It's not just going to happen. You have to hustle! <br>

&#128188
&#9888
&#9888;&#65039

https://emojiguide.org/warning


    Debugging.... skill breakdowns: <br>


    {{ range $key, $value := .Subtraits }}
    <li><strong>{{ $key }}</strong>: {{ $value.NormalScore }} {{ $value.RawScore }}</li>
    {{ end }}

    {{ range $key, $value := .Traits }}
        <li><strong>{{ $key }}</strong>: {{ $value.NormalScore }} {{ $value.RawScore }}</li>
    {{ end }}
</div>
</body>
</html>